*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu_topo{
    background: rgb(41, 34, 24) url("https://passapalavra.info/wp-content/uploads/2019/04/naom_5a434d7cb7a8d.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}

header{
    position: fixed;
    top: 0;
    Left: 0;
    width: 100%;
    padding: 25px 80px;
    background:linear-gradient(to top, transparent,rgba(0,0,0,0.6));
} 

header .logo{
    font-size: 50px;  
    font-weight: 700;
    color: #fff;
    float: left;
}
header .logo:hover{
    border-radius: 10px;
    background-color: grey;
}
header .menu{
    float: right;
    margin-top: 5px;
}

header ul li{
    display: inline-block;
}
header ul li:hover{
    border-radius: 10px;
    background-color: grey;
}
header ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}

.mensagem{
    max-width: 55%;
    padding:10pc 80px 0;
    color: rgb(214, 214, 214);
}

.mensagem h1{
    font-size: 50px;
}
.mensagem p{
    font-size: 40px;
    padding: 25px 0;
    font-weight: 300;
}

.mensagem a{
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none ;
    color:#fff;
    border-radius: 50px;
    font-size: 25px;
}
.mensagem a.color1{
    background-color: #d33838;
}
.mensagem a.color1:hover{
    background-color: #2d8318;
}

#tela2 {
    position: absolute;
	right: 90px;
    top: 150px;
    border-radius: 40px;

}
#tela1 {
    position: absolute; 
    right: 500px;
    top: 150px;
    border-radius: 40px;
}